<!DOCTYPE html>
<html>
    <head>
        <title>Tulis Admin Masjid</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="../img/SIM/ico.png">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/AdminMasjid/style.css">
        <link rel="stylesheet" href="../css/AdminMasjid/sidebarMessage.css">
        <link rel="stylesheet" href="../css/AdminMasjid/tulis.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="col-full">
                <div class="header row">

                </div>
                <div class="content row">
                    <div class="side box span-1-8">

                    </div>
                    <div class="box span-10-3">
                        <div class="baris box span-12">
                            <div class="inherit box span-1">
                                <table class="tabel">
                                    <tr>
                                        <td class="keterangan">
                                            Ke
                                        </td>
                                        <td class="titik">
                                            :
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="inherit box span-11">
                                <div class="combo inherit box span-2">
                                    <div class="styled-select">
                                        <select>
                                            <option class="option">Pilih wilayah</option>
                                            <option class="option">Bojonagara</option>
                                            <option class="option">Cibeunying</option>
                                            <option class="option">Tegallega</option>
                                            <option class="option">Karees</option>
                                            <option class="option">Ujung Berung</option>
                                            <option class="option">Gede Bage</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="combo inherit box span-2">
                                    <div class="styled-select">
                                        <select>
                                            <option class="option">Pilih masjid</option>
                                            <option class="option">Al Ukhuwwah</option>
                                            <option class="option">Istiqamah</option>
                                            <option class="option">Raya Cipaganti</option>
                                            <option class="option">Salman</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="baris box span-12">
                            <div class="inherit box span-1">
                                <table class="tabel">
                                    <tr>
                                        <td class="keterangan">
                                            Judul
                                        </td>
                                        <td class="titik">
                                            :
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="judul inherit box span-11">
                                <input class="form field" type="text" placeholder="Judul message" value="">
                            </div>
                        </div>
                        <div class="isi box span-12">
                            <div class="inherit box span-1">
                                <table class="tabel">
                                    <tr>
                                        <td class="keterangan">
                                            Isi
                                        </td>
                                        <td class="titik">
                                            :
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="box span-10">
                                <textarea class="textarea" rows="25" cols="100"></textarea>
                            </div>
                        </div>
                        <div class="baris box span-12">
                            <div class="inherit box span-1">
                                <table class="tabel">
                                    <tr>
                                        <td class="keterangan">
                                            Kirim
                                        </td>
                                        <td class="titik">
                                            :
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="kirim inherit box span-11">
                                <a class="btn btn-block btn-lg btn-inverse" href="">Kirim</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer row">
                    
                </div>
            </div>
        </div>
        <script src="../js/jquery-2.1.0.min.js"></script>
        <script src="../js/main.js"></script>
        <script>
            $(document).ready(function () {
                $(".header").load("header.php");
                $(".side").load("sidebarMessage.html");
            });
        </script>
    </body>
</html>