/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2014, 7:37:13 PM
    Author     : i08023
*/

.content {
    margin-top: 0;
    height: 1000px;
}
.col {
    height: inherit;
}
.kotak-judul{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid #b6bcc1; 
}
.kotak-kiri{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 20px;
    padding-left: 20px;
}
.btn{
    border: medium none;
    transition: all 0.25s linear 0s;
    margin-bottom:0px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    background-image:none;
    -moz-user-select: none;
}
.btn-block{
    white-space:normal;
    display: block;
    width:120px;
}
.btn-lg{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px 5px;
    margin-top: 2px;
    font-size:14px;
    line-height:0.5;
    border-radius:6px;
}
.btn-inverse{
    color:#FFF;
    background-color:#333333;
}
.btn-inverse:hover,.btn-inverse:focus{
    color:#FFF;
    background-color:#1ABC9C;
    border-color:#1ABC9C;
}
.kotak-kiri div{
    height: 29px;
}
.padding{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 4px;
}
.form {
    border: 2px solid #eeeeee;
    color: #333333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 4px 8px 6px 8px;
    transition: 0.25s;
    width:200px;
    height:27px;
    float:left;
    background-color: white;
    font-size: 12px;
}
.field:focus {
    border-color: #1ABC9C;
}

.styled-select {
    width: 80px;
    overflow: hidden;
    background: url(../../img/Panah/panahBawah.png) no-repeat right #333333;
    border: 1px solid #333333;
    border:0;
    border-radius:6px;
}

.styled-select select {
    background: transparent;
    width:110px;
    text-indent: 0.01px;
    text-overflow: "";
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    -webkit-appearance: none;
    color:#fff;
}
.styled-select-wilayah {
    width: 110px;
    overflow: hidden;
    background: url(../../img/Panah/panahBawah.png) no-repeat right #333333;
    border: 1px solid #333333;
    border:0;
    border-radius:6px;
}

.styled-select-wilayah select {
    background: transparent;
    width:130px;
    text-indent: 0.01px;
    text-overflow: "";
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    -webkit-appearance: none;
    color:#fff;
}
.hari {
    width: 70px;
    overflow: hidden;
    background: url(../../img/Panah/panahBawah.png) no-repeat right #333333;
    border: 1px solid #333333;
    border:0;
    border-radius:6px;
}

.hari select {
    background: transparent;
    width:90px;
    text-indent: 0.01px;
    text-overflow: "";
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 5px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 27px;
    -webkit-appearance: none;
    color:#fff;
}
.option{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:3px;
    border-radius:5px;
    margin:3px;
    color:#fff;
}
.jarak-bawah{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 20px;
}
.jarak-normal{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 5px;
}
.non-jeda{
    width: 120px;
}
.jeda{
    width: 100px;
}
.nama{
    width: 235px;
}
.jalan{
    width: 235px;
}
.satuan{
    padding-left: 7px;
}
.tahun{
    width: 55px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 2px;
}
.kotak-kanan{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 20px;
    padding-left: 20px;
    border-left: 1px solid #b6bcc1; 
}
.textarea{
    vertical-align:text-top; 
    text-align:left;
}
.checkbox{
    padding-top: 2px;
}
.kegiatan{
    width: 140px;
}
.jam{
    width: 55px;
}
.simpan{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 250px;
    margin-top: 50px;
    padding-bottom: 20px;
}
.styled-select-angkot {
    width: 210px;
    overflow: hidden;
    background: url(../../img/Panah/panahBawah.png) no-repeat right #333333;
    border: 1px solid #333333;
    border:0;
    border-radius:6px;
}
.styled-select-angkot select {
    background: transparent;
    width:220px;
    text-indent: 0.01px;
    text-overflow: "";
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 5px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    -webkit-appearance: none;
    color:#fff;
}
.turun{
    width: 200px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 3px;
}