<!DOCTYPE html>
<html>
    <head>
        <title>Inbox Admin Masjid</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="../img/SIM/ico.png">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/AdminMasjid/style.css">
        <link rel="stylesheet" href="../css/AdminMasjid/sidebarMessage.css">
        <link rel="stylesheet" href="../css/AdminMasjid/inbox.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="col-full">
                <div class="header row">

                </div>
                <div class="content row">
                    <div class="side box span-1-8">

                    </div>
                    <div class="box span-10-3">
                        <div class="kotak-judul box span-12">
                            <div class="box span-0-5">
                                <div class="check center box span-12">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="hapus box span-1-5">
                                <div class="gambar box span-4">
                                    <img class="trash" src="../img/Icon/Trash.png">
                                </div>
                                <div class="hapus-text box span-8">
                                    <a class="href-black" href="">Hapus</a>
                                </div>
                            </div>
                        </div>
                        <div class="slider box span-12">
                            <a class="href-black" href="isiMessage.html">
                                <div class="message box span-12">
                                    <div class="inherit box span-0-5">
                                        <div class="checkbox center box span-12">
                                            <input type="checkbox">
                                        </div>
                                    </div>
                                    <div class="jarak box span-2-5">
                                        Raya Cipaganti
                                    </div>
                                    <div class="jarak box span-6-5">
                                        Perihal kerjasama antar masjid untuk warga di bandung
                                    </div>
                                    <div class="jarak box span-2-5">
                                        20 Desember 2014
                                    </div>
                                </div>
                            </a>
                            <a class="href-black" href="">
                                <div class="message box span-12">
                                    <div class="inherit box span-0-5">
                                        <div class="checkbox center box span-12">
                                            <input type="checkbox">
                                        </div>
                                    </div>
                                    <div class="jarak box span-2-5">
                                        Istiqamah
                                    </div>
                                    <div class="jarak box span-6-5">
                                        Panitia bencana longsor
                                    </div>
                                    <div class="jarak box span-2-5">
                                        17 Desember 2014
                                    </div>
                                </div>
                            </a>
                            <a class="href-black" href="">
                                <div class="message box span-12">
                                    <div class="inherit box span-0-5">
                                        <div class="checkbox center box span-12">
                                            <input type="checkbox">
                                        </div>
                                    </div>
                                    <div class="jarak box span-2-5">
                                        Salman
                                    </div>
                                    <div class="jarak box span-6-5">
                                        Rapat dewan masjid MUI
                                    </div>
                                    <div class="jarak box span-2-5">
                                        15 Desember 2014
                                    </div>
                                </div>
                            </a>
                            <a class="href-black" href="">
                                <div class="message box span-12">
                                    <div class="inherit box span-0-5">
                                        <div class="checkbox center box span-12">
                                            <input type="checkbox">
                                        </div>
                                    </div>
                                    <div class="jarak box span-2-5">
                                        Istiqamah
                                    </div>
                                    <div class="jarak box span-6-5">
                                        Panitia bencana longsor
                                    </div>
                                    <div class="jarak box span-2-5">
                                        17 Desember 2014
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="button box span-12">
                            <div class="panah-kiri box span-1">
                                <a href="">
                                    <img class="panah" src="../img/Panah/Kiri-2.png">
                                </a>
                            </div>
                            <div class="box span-10">&nbsp;</div>
                            <div class="panah-kanan box span-1">
                                <a href="">
                                    <img class="panah" src="../img/Panah/Kanan-2.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer row">

                </div>
            </div>
        </div>
        <script src="../js/jquery-2.1.0.min.js"></script>
        <script src="../js/main.js"></script>
        <script>
            $(document).ready(function () {
                $(".header").load("header.html");
                $(".side").load("sidebarMessage.html");
            });
        </script>
    </body>
</html>