<!DOCTYPE html>
<html>
    <head>
        <title>Ubah Data Masjid</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="../img/SIM/ico.png">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/AdminMasjid/style.css">
        <link rel="stylesheet" href="../css/AdminMasjid/sidebar.css">
        <link rel="stylesheet" href="../css/AdminMasjid/ubahDataMasjid.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="col-scrl">
                <div class="header row">

                </div>
                <div class="content row">
                    <div class="side box span-1-8">

                    </div>
                    <div class="box span-10-3">
                        <div class="slider box span-12">

                            <div class="kotak-judul box span-12">
                                Data Masjid
                            </div>

                            <div class="kotak-kiri box span-4-5">
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-3-5">
                                        Wilayah masjid
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <div class="styled-select-wilayah">
                                            <select>
                                                <option class="option">Pilih wilayah</option>
                                                <option class="option">Bojonagara</option>
                                                <option class="option">Cibeunying</option>
                                                <option class="option">Tegallega</option>
                                                <option class="option">Karees</option>
                                                <option class="option">Ujung Berung</option>
                                                <option class="option">Gede Bage</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-3-5">
                                        Foto masjid
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <a class="btn btn-block btn-lg btn-inverse" href="">Ganti</a>
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Nama masjid
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <input class="form field nama" type="text" placeholder="Nama masjid" value="">
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Alamat
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <input class="form field jalan" type="text" placeholder="Nama jalan" value="">
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Email
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <input class="form field jalan" type="text" placeholder="Email" value="">
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        RT
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <input class="form field non-jeda" type="text" placeholder="RT" value="">
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        RW
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <input class="form field non-jeda" type="text" placeholder="RW" value="">
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Kecamatan
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <input class="form field non-jeda" type="text" placeholder="Kecamatan" value="">
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-3-5">
                                        No.Telepon
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <input class="form field non-jeda" type="text" placeholder="No.Telepon" value="">
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-3-5">
                                        Peresmian bangunan
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-7-8">
                                        <div class="box span-4">
                                            <div class="styled-select">
                                                <select>
                                                    <option class="option">Tanggal</option>
                                                    <option class="option">01</option>
                                                    <option class="option">02</option>
                                                    <option class="option">03</option>
                                                    <option class="option">04</option>
                                                    <option class="option">05</option>
                                                    <option class="option">06</option>
                                                    <option class="option">07</option>
                                                    <option class="option">08</option>
                                                    <option class="option">09</option>
                                                    <option class="option">10</option>
                                                    <option class="option">11</option>
                                                    <option class="option">12</option>
                                                    <option class="option">13</option>
                                                    <option class="option">14</option>
                                                    <option class="option">15</option>
                                                    <option class="option">16</option>
                                                    <option class="option">17</option>
                                                    <option class="option">18</option>
                                                    <option class="option">19</option>
                                                    <option class="option">20</option>
                                                    <option class="option">21</option>
                                                    <option class="option">22</option>
                                                    <option class="option">23</option>
                                                    <option class="option">24</option>
                                                    <option class="option">25</option>
                                                    <option class="option">26</option>
                                                    <option class="option">27</option>
                                                    <option class="option">28</option>
                                                    <option class="option">29</option>
                                                    <option class="option">30</option>
                                                    <option class="option">31</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="box span-4">
                                            <div class="styled-select">
                                                <select>
                                                    <option class="option">Bulan</option>
                                                    <option class="option">Januari</option>
                                                    <option class="option">Februari</option>
                                                    <option class="option">Maret</option>
                                                    <option class="option">April</option>
                                                    <option class="option">Mei</option>
                                                    <option class="option">Juni</option>
                                                    <option class="option">Juli</option>
                                                    <option class="option">Agustus</option>
                                                    <option class="option">September</option>
                                                    <option class="option">Oktober</option>
                                                    <option class="option">November</option>
                                                    <option class="option">Desember</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="box span-4">
                                            <input class="form field tahun" type="text" placeholder="Tahun" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Luas Tanah
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="padding box span-0-5">
                                        ±
                                    </div>
                                    <div class="box span-3">
                                        <input class="form field jeda" type="text" placeholder="Luas" value="">
                                    </div>
                                    <div class="padding box span-4 satuan">
                                        m²
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-3-5">
                                        Luas Bangunan
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="padding box span-0-5">
                                        ±
                                    </div>
                                    <div class="box span-3">
                                        <input class="form field jeda" type="text" placeholder="Luas" value="">
                                    </div>
                                    <div class="padding box span-4 satuan">
                                        m²
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Jumlah menara
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-3-5">
                                        <input class="form field non-jeda" type="text" placeholder="Jumlah" value="">
                                    </div>
                                    <div class="padding box span-3-5">
                                        buah
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-3-5">
                                        Tinggi Menara
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="padding box span-0-5">
                                        ±
                                    </div>
                                    <div class="box span-3">
                                        <input class="form field jeda" type="text" placeholder="Tinggi" value="">
                                    </div>
                                    <div class="padding box span-4 satuan">
                                        m
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Jumlah pintu
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-3-5">
                                        <input class="form field non-jeda" type="text" placeholder="Jumlah" value="">
                                    </div>
                                    <div class="padding box span-3-5">
                                        buah
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Pintu lantai atas
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-3-5">
                                        <input class="form field non-jeda" type="text" placeholder="Jumlah" value="">
                                    </div>
                                    <div class="padding box span-3-5">
                                        buah
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-3-5">
                                        Pintu lantai bawah
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-3-5">
                                        <input class="form field non-jeda" type="text" placeholder="Jumlah" value="">
                                    </div>
                                    <div class="padding box span-3-5">
                                        buah
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Daya Tampung jamaah
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="padding box span-0-5">
                                        ±
                                    </div>
                                    <div class="box span-3">
                                        <input class="form field jeda" type="text" placeholder="Jumlah" value="">
                                    </div>
                                    <div class="padding box span-4 satuan">
                                        orang
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Dalam masjid
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="padding box span-0-5">
                                        ±
                                    </div>
                                    <div class="box span-3">
                                        <input class="form field jeda" type="text" placeholder="Jumlah" value="">
                                    </div>
                                    <div class="padding box span-4 satuan">
                                        orang
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="padding box span-3-5">
                                        Luar masjid
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="padding box span-0-5">
                                        ±
                                    </div>
                                    <div class="box span-3">
                                        <input class="form field jeda" type="text" placeholder="Jumlah" value="">
                                    </div>
                                    <div class="padding box span-4 satuan">
                                        orang
                                    </div>
                                </div>
                            </div>
                            <div class="kotak-kanan box span-7-5">
                                <div class="jarak-bawah box span-12">
                                    <div class="box span-2-5">
                                        Deskripsi masjid
                                    </div>
                                    <div class="box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-9">
                                        <textarea class="textarea" rows="6" cols="60"></textarea>
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="box span-2-5">
                                        Keunikan
                                    </div>
                                    <div class="box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-9">
                                        <textarea class="textarea" rows="6" cols="60"></textarea>
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="box span-2-5">
                                        Kegiatan
                                    </div>
                                    <div class="box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-9">
                                        <div class="box span-12">
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Bakti sosial
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Kultum
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Pengajian
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box span-12">
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Haji
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Majlis taklim
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Santunan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="box span-2-5">
                                        Fasilitas
                                    </div>
                                    <div class="box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-9">
                                        <div class="box span-12">
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Gedung serba guna 
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Koperasi
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Perpustakaan
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box span-12">
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Kantin
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Kursus
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    TK
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box span-12">
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Klinik
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Parkir Kendaraan
                                                </div>
                                            </div>
                                            <div class="box span-4">
                                                <div class="checkbox box span-1-5" style="">
                                                    <input type="checkbox">
                                                </div>
                                                <div class="box span-10-5">
                                                    Wifi
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-2-5">
                                        Peta lokasi
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-9">
                                        <a class="btn btn-block btn-lg btn-inverse" href="">Unduh</a>
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-2-5">
                                        Struktur organisasi
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-9">
                                        <a class="btn btn-block btn-lg btn-inverse" href="">Unduh</a>
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="padding box span-2-5">
                                        Kegiatan rutin
                                    </div>
                                    <div class="padding box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-9">
                                        <div class="tambah jarak-normal box span-12">
                                            <div class="box span-4">
                                                <input class="form field kegiatan" type="text" placeholder="Kegiatan rutin" value="">
                                            </div>
                                            <div class="box span-2-5">
                                                <div class="hari">
                                                    <select>
                                                        <option class="option">Hari</option>
                                                        <option class="option">Senin</option>
                                                        <option class="option">Selasa</option>
                                                        <option class="option">Rabu</option>
                                                        <option class="option">Kamis</option>
                                                        <option class="option">Jumat</option>
                                                        <option class="option">Sabtu</option>
                                                        <option class="option">Minggu</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="box span-2">
                                                <input class="form field jam" type="text" placeholder="jam" value="">
                                            </div>
                                            <div class="box span-1 padding">
                                                s/d
                                            </div>
                                            <div class="box span-2-5">
                                                <input class="form field jam" type="text" placeholder="jam" value="">
                                            </div>
                                        </div>
                                        <div class="tambah jarak-normal box span-12">
                                            <div class="box span-4">
                                                <input class="form field kegiatan" type="text" placeholder="Kegiatan rutin" value="">
                                            </div>
                                            <div class="box span-2-5">
                                                <div class="hari">
                                                    <select>
                                                        <option class="option">Hari</option>
                                                        <option class="option">Senin</option>
                                                        <option class="option">Selasa</option>
                                                        <option class="option">Rabu</option>
                                                        <option class="option">Kamis</option>
                                                        <option class="option">Jumat</option>
                                                        <option class="option">Sabtu</option>
                                                        <option class="option">Minggu</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="box span-2">
                                                <input class="form field jam" type="text" placeholder="jam" value="">
                                            </div>
                                            <div class="box span-1 padding">
                                                s/d
                                            </div>
                                            <div class="box span-2-5">
                                                <input class="form field jam" type="text" placeholder="jam" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-12">
                                    <div class="jarak-bawah box span-12">
                                        <div class="padding box span-2-5">
                                            Kegiatan non-rutin
                                        </div>
                                        <div class="padding box span-0-5">
                                            :
                                        </div>
                                        <div class="box span-9">
                                            <div class="tambah jarak-normal box span-12">
                                                <div class="box span-12">
                                                    <input class="form field kegiatan" type="text" placeholder="Kegiatan non-rutin" value="">
                                                </div>
                                            </div>
                                            <div class="tambah jarak-normal box span-12">
                                                <div class="box span-12">
                                                    <input class="form field kegiatan" type="text" placeholder="Kegiatan non-rutin" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jarak-bawah box span-12">
                                    <div class="box span-2-5">
                                        Angkot yang lewat
                                    </div>
                                    <div class="box span-0-5">
                                        :
                                    </div>
                                    <div class="box span-9">
                                        <div class="tambah jarak-normal box span-12">
                                            <div class="box span-5-3">
                                                <div class="styled-select-angkot">
                                                    <select>
                                                        <option class="option">Pilih Angkot</option>
                                                        <option class="option">Caheum ciroyom - Riung dago</option>
                                                        <option class="option">Ciumbuleuit - Ledeng</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="box span-6">
                                                <input class="form field turun" type="text" placeholder="turun di jalan / tempat?" value="">
                                            </div>
                                        </div>
                                        <div class="tambah jarak-normal box span-12">
                                            <div class="box span-5-3">
                                                <div class="styled-select-angkot">
                                                    <select>
                                                        <option class="option">Pilih Angkot</option>
                                                        <option class="option">Caheum ciroyom - Riung dago</option>
                                                        <option class="option">Ciumbuleuit - Ledeng</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="box span-6">
                                                <input class="form field turun" type="text" placeholder="turun di jalan / tempat?" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="simpan jarak-bawah box span-12">
                                    <a class="btn btn-block btn-lg btn-inverse" href="">Simpan Data</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="footer row">

                </div>
            </div>
        </div>
        <script src="../js/jquery-2.1.0.min.js"></script>
        <script src="../js/main.js"></script>
        <script>
            $(document).ready(function () {
                $(".header").load("header.html");
                $(".side").load("sidebar.html");
            });
        </script>
    </body>
</html>