<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Berita - Umum</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!---->

        <link rel="shortcut icon" href="../img/SIM/ico.png">
        <link rel="stylesheet" href="../css/reset.css"> <!--css buat ngatur smua elemen html ke default (biar sama d semua browser)-->
        <link rel="stylesheet" href="../css/style.css"> <!--css buat ngatur header sm footer doang-->
        <link rel="stylesheet" href="../css/PenggunaUmum/beritaUmum-1.css"> <!--css khusus buat halaman ini aja-->
    </head>
    <body>
        <div class="wrapper">
            <div class="col-scrl">
                <div class="header row">

                </div>
                <div class="content row">
                    <div class="box">
                        <div class="col">
                            <div class="kotak-tengah box span-12">
                                <div class="judul box span-12">
                                    Pengurus Muhammadiyah Sebut ISIS Teror Gaya Baru
                                </div>
                                <div class="tanggal box span-12">
                                    Minggu, 28 Maret 2014 
                                </div>
                                <div class="gambar box center span-12">
                                    <img src="../img/Berita/Umum/umum-1-1.jpg">
                                </div>
                                <div class="text box span-12">
                                    Jakarta (SI Online) - Nampak seperti dikomando, sepekan terakhir berita seputar Negara Islam Irak dan Suriah (ISIS) mengemuka di berbagai media mainstream Indonesia. Pemberitaan itu dibumbui dengan komentar negatif dari Badan Nasional Penanggulangan Terorisme (BNPT), para pengamat serta sejumlah orang yang anti terhadap penerapan syariat Islam dan khilafah. ISIS seolah-olah menjadi ancaman negara.
                                    <br>
                                    <br>
                                    Ketua Bidang Luar Negeri PP Pemuda Muhammadiyah, Teguh Santosa, misalnya. Ia menyebut ISIS sebagai teror gaya baru yang dikembangkan pihak-pihak anti-Islam yang ingin mendapatkan keuntungan dari destabilisasi kawasan Timur Tengah.
                                    <br>
                                    <br>
                                    "Kami mengutuk keras aksi kekerasan dan teror yang dilakukan ISIS. Itu bertentangan dengan ajaran Islam," tega Teguh Santosa dalam keterangan persnya di Jakarta, Sabtu (2/8/2014) seperti dikutip ANTARA.
                                    <br>
                                    <br>
                                    Teguh yakin bahwa ISIS adalah sebuah gerakan politik yang menggunakan topeng agama, karena mustahil orang yang peduli dengan tegaknya subtansi ajaran Islam berada di belakang gerakan ini.
                                    <br>
                                    <br>
                                    Pemuda Muhammadiyah menyerukan kepada negara-negara Islam yang tergabung dalam Organisasi Konferensi Islam untuk secara tegas menyikapi gerakan ISIS tersebut, agar jangan sampai gerakan ISIS menginspirasi umat Islam lain untuk melakukan hal yang sama.
                                    <br>
                                    <br>
                                    Teguh juga mengingatkan pemerintah Indonesia dan juga ormas-ormas Islam untuk mewaspadai gerakan ISIS merambah ke Indonesia. Apalagi telah beredar luas rekaman berjudul "Join the Ranks" di mana seseorang yang mengaku warga negara Indonesia mengajak orang Indonesia untuk mendukung perjuangan ISIS.
                                    <br>
                                    <br>
                                    "Kita jangan sampai kecolongan. Ini tak bisa didiamkan. Betul bahwa berserikat adalah hak setiap warga negara. Tapi cara-cara kekerasan tak bisa ditolerir. Pemerintah harus tegas terhadap itu," kata pengajar hubungan internasional di Universitas Islam Negeri Syarif Hidayatullah Jakarta, itu.
                                    <br>
                                    <br>
                                    Sebelumnya Menteri Agama, Lukman Saifuddin, juga menegaskan, ISIS suatu organisasi pergerakan berpaham radikal, yang menggunakan kekerasan demi memperjuangkan apa yang diyakininya.
                                    <br>
                                    <br>
                                    "Mereka ingin memperjuangkan negara Islam di Irak dan Suriah. Umat Islam Indonesia tak perlu terpengaruh dan ikut-ikutan," katanya.
                                    <br>
                                    <br>
                                    Menurut dia, ideologi ISIS bertentangan dengan Pancasila, karena ISIS menyatakan bahwa Pancasila sebagai thogut (berhala) yang harus diperangi.
                                    <br>
                                    <br>
                                    "Ini sudah amat kelewat batas. Mengangkat sumpah dan berjanji setia kepada negara asing atau bagian dari negara asing itu bisa menyebabkan kehilangan kewarganegaraan Indonesia. Kita harus mendukung aparat penegak hukum untuk bekerja profesional dalam menanganinya," katanya. 
                                    <br>
                                    <br>
                                </div>
                                <div class="box span-12">
                                    <table>
                                        <tr>
                                            <td>Penulis</td>
                                            <td>&nbsp; : &nbsp;</td>
                                            <td>Abu Faza</td>
                                        </tr>
                                        <tr>
                                            <td>Editor</td>
                                            <td>&nbsp; : &nbsp;</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>Sumber</td>
                                            <td>&nbsp; : &nbsp;</td>
                                            <td>Suara-Islam</td>
                                        </tr>
                                        <tr>
                                            <td>Link</td>
                                            <td>&nbsp; : &nbsp;</td>
                                            <td>
                                                <a class="href-black" href="http://www.suara-islam.com/read/index/11543/Pengurus-Pemuda-Muhammadiyah-Sebut-ISIS-Teror-Gaya-Baru">http://www.suara-islam.com/read/index/11543/Pengurus-Pemuda-Muhammadiyah-Sebut-ISIS-Teror-Gaya-Baru</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="button box span-12">
                                    <a class="btn btn-block btn-lg btn-inverse" href="beritaUmum.html">Kembali</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer row">

                </div>
            </div>
        </div>
        <script src="../js/jquery-2.1.0.min.js"></script>
        <script src="../js/main.js"></script>
        <script>
            $(document).ready(function () {
                $(".header").load("header.html");
                $(".footer").load("footer.html");
            });
        </script>
    </body>
</html>
