<!DOCTYPE html>
<html>
    <head>
        <title>Beranda</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!---->

        <link rel="shortcut icon" href="../img/SIM/ico.png">
        <link rel="stylesheet" href="../css/reset.css"> <!--css buat ngatur smua elemen html ke default (biar sama d semua browser)-->
        <link rel="stylesheet" href="../css/style.css"> <!--css buat ngatur header sm footer doang-->
        <link rel="stylesheet" href="../css/PenggunaUmum/index.css"> <!--css khusus buat halaman ini aja-->
    </head>
    <body>
        <div class="wrapper"> <!--div pembungkus yg lebarnya max 9999px-->
            <div class="col-scrl">
                <div class="header row"> <!--bungkus header, lebarnya ngikutin wrapper.  .row = biar yg kl ada div baru, ditempatinnya dibawah, ga numpuk bareng header-->

                </div>


                <div class="content row">
                    <!--Headline-->
                    <div class="slideshow box">
                        <div class="col">
                            <div class="box span-1-5">
                                <a href="#"><img src="../img/Panah/Kiri.png"></a>
                            </div>
                            <div class="box span-9-5">
                                <div class="slider-content">
                                    <div class="box span-6">
                                        <a class="href-white" href="">
                                            Kota suci umat Islam sedunia ini dianggap memiliki indeks daya saing investasi terbaik di dunia. 
                                            Tak hanya di zaman Nabi Muhammad SAW, kota suci kedua umat muslim dunia, Madinah, juga terus berperan penting hingga saat ini. 
                                        </a>
                                    </div>
                                    <div class="box span-6">
                                        <a href=""><img src="../img/Headline/Headline-1.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="box span-1-5">
                                <a href="#"><img src="../img/Panah/Kanan.png"></a>
                            </div>
                        </div>
                    </div>
                    <!--Berita-->
                    <div class="berita box">
                        <div class="col">
                            <div class="berita-text box span-12">
                                <img src="../img/Berita/berita.png">
                            </div>
                            <div class="box span-12">
                                <div class="box span-1-5 ">
                                    &nbsp;
                                </div>
                                <div class="box span-9-5">
                                    <div class="box span-4 center">
                                        <div class="gambar">
                                            <a href=""><img class="berita-img" src="../img/Berita/Umum/umum-1.jpg"></a>
                                        </div>
                                        <div class="judulBerita">
                                            <a class="href-black" href="">
                                                Pengurus Muhammadiyah Sebut ISIS Teror Gaya Baru
                                            </a>
                                        </div>
                                        <div class="tanggal">
                                            28 Maret 2014
                                        </div>
                                    </div>
                                    <div class="box span-4 center">
                                        <div class="gambar">
                                            <a href=""><img class="berita-img" src="../img/Berita/Umum/umum-2.jpg"></a>
                                        </div>
                                        <div class="judulBerita">
                                            <a class="href-black" href="">
                                                FPI Dukung Partai Islam dan Bela Syariat Islam
                                            </a>
                                        </div>
                                        <div class="tanggal">
                                            04 Februari 2014
                                        </div>
                                    </div>
                                    <div class="box span-4 center">
                                        <div class="gambar">
                                            <a href=""><img class="berita-img" src="../img/Berita/Umum/umum-3.jpg"></a>
                                        </div>
                                        <div class="judulBerita">
                                            <a class="href-black" href="">
                                                Madinah, Kota dengan Daya Saing Investasi Terbaik di Dunia
                                            </a>
                                        </div>
                                        <div class="tanggal">
                                            30 Januari 2014
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-1-5">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="box span-12">&nbsp;</div>
                            <div class="box span-12">
                                <div class="box span-1-5 ">
                                    &nbsp;
                                </div>
                                <div class="box span-9-5">
                                    <div class="box span-4 center">
                                        <div class="gambar">
                                            <a href=""><img class="berita-img" src="../img/Berita/Masjid/masjid-1.jpg"></a>
                                        </div>
                                        <div class="judulBerita">
                                            <a class="href-black" href="">
                                                Lomba Dai Muda Nusantara Untuk Sekolah Menengah Pertama
                                            </a>
                                        </div>
                                        <div class="masjid">
                                            Al Ukhuwwah
                                        </div>
                                    </div>
                                    <div class="box span-4 center">
                                        <div class="gambar">
                                            <a href=""><img class="berita-img" src="../img/Berita/Masjid/masjid-2.jpg"></a>
                                        </div>
                                        <div class="judulBerita">
                                            <a class="href-black" href="">
                                                Pendidikan Agama Gratis Yang di Adakan Oleh DKM Masjid Salman
                                            </a>
                                        </div>
                                        <div class="masjid">
                                            Salman
                                        </div>
                                    </div>
                                    <div class="box span-4 center">
                                        <div class="gambar">
                                            <a href=""><img class="berita-img" src="../img/Berita/Masjid/masjid-3.jpg"></a>
                                        </div>
                                        <div class="judulBerita">
                                            <a class="href-black" href="">
                                                Pembagian Daging Kurban Untuk Fakir Miskin
                                            </a>
                                        </div>
                                        <div class="masjid">
                                            Al Ukhuwwah
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-1-5">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!--Bentuk-->
                    <div class="lengkung box">
                        <div class="bentuk-atas-kiri box span-1"></div>
                        <div class="bentuk-tengah box span-10"></div>
                        <div class="bentuk-atas-kanan box span-1"></div>
                    </div>
                    <!--Video-->
                    <div class="lengkung-tengah box">
                        <div class="col">
                            <div class="video-text box span-12">
                                <img src="../img/Video/Video.png">
                            </div>
                            <div class="video box span-12">
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-1.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Sejarah Yayasan Masjid Istiqamah Bandung
                                        </div>
                                        <div class="keterangan-video">
                                            Istiqamah
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-2.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Dokumentasi Ceramah Sore, Tanggal 04 Februari 2014 
                                        </div>
                                        <div class="keterangan-video">
                                            Al Ukhuwwah
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-3.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Pemotongan Hewan Kurban Dalam Memperingati Idul Adha 
                                        </div>
                                        <div class="keterangan-video">
                                            Raya Cipaganti
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-4.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Shalat Idul Adha Yang Dihadiri Masyarakat Sekitar Masjid 
                                        </div>
                                        <div class="keterangan-video">
                                            Raya Cipaganti
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lengkung box">
                        <div class="bentuk-bawah-kiri box span-1"></div>
                        <div class="bentuk-tengah box span-10"></div>
                        <div class="bentuk-bawah-kanan box span-1"></div>
                    </div>
                    <!--Cari-->
                    <div class="box">
                        <div class="col">
                            <div class="cari-text box span-12">
                                <img src="../img/Peta/cari.png">
                            </div>
                            <div class="box span-12">
                                <div class="box span-1">&nbsp;</div>
                                <div class="peta-img box span-5">
                                    <img src="../img/Peta/peta.png">
                                </div>
                                <div class="cari-isi box span-5">
                                    <div class="cari-judul">
                                        <b>Berdasarkan Lokasi :</b>
                                    </div>
                                    <div>
                                        Merupakan fitur pencarian masjid dengan memasukan nama masjid yang dicari, 
                                        dapat mencari berdasarkan lokasi yang diinginkan dengan memilih wilayah dari kota Bandung yang telah terbagi menjadi 6 wilayah, 
                                        kemudian dapat mencari informasi mengenai rute angkot dari masjid yang akan dituju.
                                    </div>
                                    <div class="cari-judul">
                                        <b>Berdasarkan Spesifikasi :</b>
                                    </div>
                                    <div>
                                        Merupakan fitur pencarian kegiatan, 
                                        fasilitas dan unit usaha yang terdapat pada masjid - masjid di semua wilayah kota Bandung. 
                                    </div>
                                    <div class="cari-judul">
                                        <b>Berdasarkan Nama :</b>
                                    </div>
                                    <div>
                                        <input class="form-control-cari field" type="text" placeholder="Masukan nama masjid" value="">
                                        <a href="#"><img class="form-control-search"  src="../img/Peta/search.png"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="col">
                            <div class="jarak box span-12">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer row"> <!--bungkus footer, lebarnya ngikutin wrapper-->
                </div>
            </div>
        </div>
        <script src="../js/jquery-2.1.0.min.js"></script>
        <script src="../js/main.js"></script>
        <script>
            $(document).ready(function () {
                $(".header").load("header.html"); //ngambil header dr file html lain.
                $(".footer").load("footer.html");
            });
        </script>
    </body>
</html>