<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Video - Informasi Masjid</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!---->

        <link rel="shortcut icon" href="../img/SIM/ico.png">
        <link rel="stylesheet" href="../css/reset.css"> <!--css buat ngatur smua elemen html ke default (biar sama d semua browser)-->
        <link rel="stylesheet" href="../css/style.css"> <!--css buat ngatur header sm footer doang-->
        <link rel="stylesheet" href="../css/PenggunaUmum/informasiMasjid.css"> <!--css khusus buat halaman ini aja-->
    </head>
    <body>
        <div class="wrapper">
            <div class="col-full">
                <div class="header row">

                </div>
                <div class="content row">
                    <div class="slideVideo box">
                        <div class="col">
                            <div class="video box span-12">
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-1.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Sejarah Yayasan Masjid Istiqamah Bandung 
                                        </div>
                                        <div class="keterangan-video">
                                            Istiqamah
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-2.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Dokumentasi Ceramah Sore, Tanggal 04 Februari 2014 
                                        </div>
                                        <div class="keterangan-video">
                                            Al Ukhuwwah 
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-3.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Pemotongan Hewan Kurban Dalam Memperingati Idul Adha 
                                        </div>
                                        <div class="keterangan-video">
                                            Raya Cipaganti 
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-4.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Shalat Idul Adha Yang Dihadiri Masyarakat Sekitar Masjid 
                                        </div>
                                        <div class="keterangan-video">
                                            Raya Cipaganti 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="video box span-12">
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-5.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Dokumentasi Peserta Lomba Dai Muda Nusantara 
                                        </div>
                                        <div class="keterangan-video">
                                            Al Ukhuwwah
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-6.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Khinatan Masal Untuk Umum, Tanggal 28 Desember 2013
                                        </div>
                                        <div class="keterangan-video">
                                            Salman
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-7.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Kegiatan donor darah, Tanggal 10 Februari 2014 
                                        </div>
                                        <div class="keterangan-video">
                                            Salman
                                        </div>
                                    </div>
                                </div>
                                <div class="box span-3">
                                    <div class="video-isi">
                                        <div>
                                            <img src="../img/Video/InformasiMasjid/masjid-8.jpg">
                                        </div>
                                        <div class="judulvideo">
                                            Renovasi masjid raya cipaganti yang dihadiri para donatur
                                        </div>
                                        <div class="keterangan-video">
                                            Raya Cipaganti
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button box">
                        <div class="col">
                            <div class="box span-12">
                                <div class="box span-1">
                                    <a href="">
                                        <img class="panah" src="../img/Panah/Kiri-2.png">
                                    </a>
                                </div>
                                <div class="box span-10">&nbsp;</div>
                                <div class="box span-1">
                                    <a href="">
                                        <img class="panah" src="../img/Panah/Kanan-2.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer row">

                </div>
            </div>
        </div>
        <script src="../js/jquery-2.1.0.min.js"></script>
        <script src="../js/main.js"></script>
        <script>
            $(document).ready(function () {
                $(".header").load("header.html");
                $(".footer").load("footer.html");
            });
        </script>
    </body>
</html>
