<div class="box span-12">
    <div class="judul box span-12">
        Berita Al Ukhuwwah
    </div>
    <div class="box span-12">
        <div class="judul-berita box span-12">
            Lomba Dai Muda Nusantara Untuk Sekolah Menengah Pertama 
        </div>
        <div class="box span-12">
            <table>
                <tr>
                    <td class="hari">Hari</td>
                    <td class="titik">:</td>
                    <td>Rabu</td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td>16 April 2014</td>
                </tr>
                <tr>
                    <td>Jam</td>
                    <td>:</td>
                    <td>09.00 - 12.00</td>
                </tr>
            </table>
        </div>
        <div class="button-berita box span-12">
            <a class="btn-berita btn-berita-block btn-berita-lg btn-berita-inverse" href="masjidBerita.html">Selengkapnya</a>
        </div>
    </div>
    <div class="box span-12">
        <div class="judul-berita box span-12">
            Pembagian Daging Kurban Untuk Fakir Miskin 
        </div>
        <div class="box span-12">
            <table>
                <tr>
                    <td class="hari">Hari</td>
                    <td class="titik">:</td>
                    <td>Minggu</td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td>04 April 2014</td>
                </tr>
                <tr>
                    <td>Jam</td>
                    <td>:</td>
                    <td>13.00 - 16.00</td>
                </tr>
            </table>
        </div>
        <div class="button-berita box span-12">
            <a class="btn-berita btn-berita-block btn-berita-lg btn-berita-inverse" href="">Selengkapnya</a>
        </div>
    </div>
</div>