<div class="box span-12">
    <div class="foto-masjid box span-12">
        <img class="img-masjid" src="../img/Masjid/masjid-1.jpg">
    </div>
    <div class="judul box span-12">
        Data Teknis
    </div>
    <div class="box span-12">
        <div class="jarak-data box span-12">
            <table>
                <tr>
                    <td class="sub-data">Alamat</td>
                    <td>:</td>
                    <td>Jl.Wastukancana No.27</td>
                </tr>
                <tr>
                    <td>RT</td>
                    <td>:</td>
                    <td>08</td>
                </tr>
                <tr>
                    <td>RW</td>
                    <td>:</td>
                    <td>09</td>
                </tr>
                <tr>
                    <td>Kecamatan</td>
                    <td>:</td>
                    <td>Sumur Bandung</td>
                </tr>
                <tr>
                    <td>No.Telepon</td>
                    <td>:</td>
                    <td>4265323</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td>AlUkhuwwah@gmail.com</td>
                </tr>
            </table>
        </div>
        <div class="jarak-data box span-12">
            <table>
                <tr>
                    <td class="sub-data">Peresmian bangunan</td>
                    <td>:</td>
                    <td>19 Agustus 1998</td>
                </tr>
            </table>
        </div>
        <div class="jarak-data box span-12">
            <table>
                <tr>
                    <td class="sub-data">Luas tanah</td>
                    <td>:</td>
                    <td>±&nbsp;</td>
                    <td>4.000</td>
                    <td>&nbsp;m²</td>
                </tr>
                <tr>
                    <td>Luas bangunan</td>
                    <td>:</td>
                    <td>±&nbsp;</td>
                    <td>1.373</td>
                    <td>&nbsp;m²</td>
                </tr>
            </table>
        </div>
        <div class="jarak-data box span-12">
            <table>
                <tr>
                    <td class="sub-data">Jumlah pintu</td>
                    <td>:</td>
                    <td>11</td>
                    <td>&nbsp;buah</td>
                </tr>
                <tr>
                    <td>Pintu lantai atas</td>
                    <td>:</td>
                    <td>2</td>
                    <td>&nbsp;buah</td>
                </tr>
                <tr>
                    <td>Pintu lantai bawah</td>
                    <td>:</td>
                    <td>9</td>
                    <td>&nbsp;buah</td>
                </tr>
            </table>
        </div>
        <div class="jarak-data box span-12">
            <table>
                <tr>
                    <td class="sub-data">Daya Tampung jamaah</td>
                    <td>:</td>
                    <td>±&nbsp;</td>
                    <td>4.375</td>
                    <td>&nbsp;orang</td>
                </tr>
                <tr>
                    <td>Dalam masjid</td>
                    <td>:</td>
                    <td>±&nbsp;</td>
                    <td>3.500</td>
                    <td>&nbsp;orang</td>
                </tr>
                <tr>
                    <td>Luar masjid</td>
                    <td>:</td>
                    <td>±&nbsp;</td>
                    <td>875</td>
                    <td>&nbsp;orang</td>
                </tr>
            </table>
        </div>
        <div class="jarak-data box span-12">
            <table>
                <tr>
                    <td class="sub-data">Wilayah</td>
                    <td>:</td>
                    <td>Bojonagara</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="button bawah-abu box span-12">
        <a class="btn btn-block btn-lg btn-inverse" href="masjidGaleri.html">Galeri</a>
    </div>
</div>