<!DOCTYPE html>
<html>
    <head>
        <title>Masjid - Al Ukhuwwah</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="../img/SIM/ico.png">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/PenggunaUmum/masjid.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="col-scrl">
                <div class="header row">

                </div>
                <div class="content row">
                    <div class="kotak-kiri box span-3">
                        
                    </div>


                    <div class="kotak-tengah box span-6">
                        <div class="slider box span-12">
                            <div class="judul box span-12">
                                Masjid Al Ukhuwwah
                            </div>
                            <div class="box span-12">
                                <div class="sub-judul box span-12">
                                    <b>Deskripsi masjid :</b>
                                </div>
                                <div class="text box span-12">
                                    Kaum Muslim Kota Bandung patut bersyukur, karena dengan perkenan dan izin Allah SWT pada tahun 1998 bertambah lagi sebuah masjid yang cukup representatif, berdiri megah, berlokasi di pusat kota, mudah dikunjungi, hampir dari semua arah.
                                    <br>
                                    <br>
                                    Al Ukhuwwah dibangun oleh Pemerintah Kota Bandung, dengan dana dari APBD Provinsi Jawa Barat dan APBD Kota Bandung. 
                                    Di samping untuk melengkapi sarana ibadah untuk warga kota, juga guna memenuhi kebutuhan internal, khususnya bagi para karyawan yang sebelumnya melaksanakan kegiatan ibadahnya di ruangan-ruangan bangunan kantor. 
                                </div>
                            </div>
                            <div class="box span-12">
                                <div class="sub-judul box span-12">
                                    <b>Keunikan :</b>
                                </div>
                                <div class="text box span-12">
                                    Masjid Al Ukhuwwah memiliki beberapa keunikan, seperti terdapat kaligrafi asmaul husnah (99 nama tuhan) yang mengelilingi di dalam bangunan utama masjid, masjid yang besar ini dirancang dan dibangun tanpa menggunakan tiang yang banyak, sehingga di dalam masjid tampak sangat luas. 
                                </div>
                            </div>
                            <div class="box span-12">
                                <div class="sub-judul box span-12">
                                    <b>Fasilitas :</b>
                                </div>
                                <div class="text box span-12">
                                    Basement, gedung serba guna, kantin, klinik, koperasi, kursus, perpustakaan.
                                </div>
                            </div>
                            <div class="box span-12">
                                <div class="sub-judul box span-12">
                                    <b>Kegiatan :</b>
                                </div>
                                <div class="text box span-12">
                                    Bakti sosial, haji, kultum, pengajian.
                                </div>
                            </div>

                            <div class="box span-12">
                                <div class="sub-judul box span-12">
                                    <b>Struktur Organisasi :</b>
                                </div>
                                <div class="struktur box span-12">
                                    <img class="inherit" src="../img/Masjid/B1/struktur.jpg">
                                </div>
                            </div>
                            <div class="box span-12">
                                <div class="sub-judul box span-12">
                                    <b>Peta Lokasi :</b>
                                </div>
                                <div class="lokasi box span-12">
                                    <img class="inherit" src="../img/Masjid/B1/Lokasi.jpg">
                                </div>
                            </div>
                            <div class="tabel box span-9">
                                <table>
                                    <tr>
                                        <td class="bawah kanan" colspan="3"><b>Kegiatan rutin</b></td>
                                    </tr>
                                    <tr>
                                        <td>Kultum ba'da dzuhur</td>
                                        <td>Senin</td>
                                        <td>12.00 - 12.30</td>
                                    </tr>
                                    <tr>
                                        <td>Majelis ta'lim muslimah</td>
                                        <td>Rabu</td>
                                        <td>10.00 - 11.30</td>
                                    </tr>
                                    <tr>
                                        <td>Kajian fiqih</td>
                                        <td>Jumat</td>
                                        <td>18.30 - 20.00</td>
                                    </tr>
                                    <tr>
                                        <td>Kuliah sabtu dhuha</td>
                                        <td>Sabtu</td>
                                        <td>07.00 - 08.30</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tabel box span-9">
                                <table>
                                    <tr>
                                        <td class="bawah"><b>Kegiatan non-rutin</b></td>
                                    </tr>
                                    <tr>
                                        <td>Pernikahan : akad dan resepsi</td>
                                    </tr>
                                    <tr>
                                        <td>Khinatan masal</td>
                                    </tr>
                                    <tr>
                                        <td>Tabligh akbar</td>
                                    </tr>
                                    <tr>
                                        <td>Haji</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="kotak-kanan box span-3">
                        
                    </div>
                </div>
                <div class="footer row">

                </div>
            </div>
        </div>

        <script src="../js/jquery-2.1.0.min.js"></script>
        <script src="../js/main.js"></script>
        <script>
            $(document).ready(function () {
                $(".header").load("header.html");
                $(".kotak-kiri").load("masjidSideLeft.html");
                $(".kotak-kanan").load("masjidSideRight.html");
                $(".footer").load("footer.html");
            });
        </script>
    </body>
</html>